.App {
  padding: 5rem;
}


.search-input-group {
  margin-top: 1.9rem;
  width: 20rem;
  border-radius: 6px;

}

.date-picker {
  margin-top: 1.9rem;
}

.search-input-group span {
  background-color: transparent;
  border-right: none;
}

.search-input::placeholder {
  color: grey;
}

.search-icon {
  top: 10px;
  left: 14px;
  color: grey; 
}


.search-by-dropdown {
   width: 15rem;
}

/* ////////// form switch */
.search-switch label {
  /* font-size: 1.1rem; */
  font-weight: bold;
}

.add-search-btn {
  margin-top: 2rem;
}